<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quanticheart.bluelist">

    <application
        android:name=".application.BluListApplication"
        android:allowBackup="false"
        android:icon="${appIcon}"
        android:label="${labelName}"
        android:roundIcon="${appIcon}_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlueList"
        tools:ignore="AllowBackup">

        <receiver android:name=".notification.ActionNotificationReceiver" />

        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.fragment.details.ToDoDetailsActivity"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>